spring:
  application:
    name: uber-geohashing
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    url: jdbc:mysql://localhost:3306/uber_geohashing
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: user